:root {
  --notion-font: ui-sans-serif, system-ui, apple-system, BlinkMacSystemFont,
    'Segoe UI', Helvetica, 'Apple Color Emoji', Arial, sans-serif,
    'Segoe UI Emoji', 'Segoe UI Symbol';
  --mono-font: 'Fira Code', 'iawriter-mono', 'Nitti', 'Menlo', 'Courier',
    monospace;
  --serif-font: 'Vollkorn', 'Lyon-Text', 'Georgia', 'ui-serif', serif;
}

:root {
  --fg-color: rgb(55, 53, 47);
  --fg-color-0: rgba(55, 53, 47, 0.09);
  --fg-color-1: rgba(55, 53, 47, 0.16);
  --fg-color-2: rgba(55, 53, 47, 0.4);
  --fg-color-3: rgba(55, 53, 47, 0.6);
  --fg-color-4: #000;
  --fg-color-5: rgba(55, 53, 47, 0.024);
  --fg-color-6: rgba(55, 53, 47, 0.8);
  --fg-color-icon: var(--fg-color);

  --bg-color: #fefefe;
  --bg-color-0: rgba(135, 131, 120, 0.15);
  --bg-color-1: rgb(247, 246, 243);
  --bg-color-2: rgba(135, 131, 120, 0.15);
}

:root .dark-mode {
  --fg-color: rgba(255, 255, 255, 0.9);
  --fg-color-0: var(--fg-color);
  --fg-color-1: var(--fg-color);
  --fg-color-2: var(--fg-color);
  --fg-color-3: var(--fg-color);
  --fg-color-4: var(--fg-color);
  --fg-color-5: rgba(255, 255, 255, 0.7);
  --fg-color-6: #fff;
  --fg-color-icon: #fff;

  --bg-color: #131516;
  --bg-color-0: #3a3e41;
  --bg-color-1: #303336;
  --bg-color-2: rgba(58, 62, 65, 0.15);
}

.notion-app {
  --rounded-none: 0;
  --rounded-sm: 0.125rem;
  --rounded: 0.25rem;
  --rounded-md: 0.375rem;
  --rounded-lg: 0.5rem;
  --rounded-full: 9999px;
}

.notion-search input.searchInput {
  color: var(--fg-color) !important;
}
